.post-container {
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.post-container {
    width: 600px;
    border: 2px solid white;
    margin: 15px 5px 15px 5px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-image {
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 45px;
    margin: 10px;
}

.content-image {
    height: auto;
    width: 500px;
    border: 1px solid white;
    margin: 10px;
}