@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

*,
body {
  font-family: 'Open-sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
