.cards-wrapper {
  border: 2px dashed orange;
  margin: 43px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card {
  width: 230px;
  border: 3px dashed purple;
  margin: 6px;
  height: 250px;
}

.card-img {
  width: 100%;
}
